table,
tr,
th,
td {
    border: black solid thin;
    border-collapse: collapse;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    padding-bottom: 150px;
}

#app {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #fff;
}

button {
    margin-right: 10px;
}

button:not(:last-child) {
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container>div {
    display: flex;
    gap: 10px;
}

.centered-title {
    text-align: center;
}

.centered-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.footer-content p {
    margin: 0;
    padding: 10px;
}

.footer-content a {
    color: #007bff;
    text-decoration: none;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button {
    position: absolute;
    left: 0;
}

.cardMain {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
}

.error-message {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}